<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="registerForm">
          <app-card>
            <ion-grid>
              @if(page==0){
              <ion-row>
                <ion-col>
                  <app-input label="First Name" placeholder="Enter your first name" type="text"
                    [control]="registerForm.get('firstName')"></app-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <app-input label="Last Name" placeholder="Enter your last name" type="text"
                    [control]="registerForm.get('lastName')"></app-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <app-input label="Email" placeholder="Enter your email" type="email"
                    [control]="registerForm.get('email')"></app-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <app-input label="Password" placeholder="Enter your password" type="password"
                    [control]="registerForm.get('password')"></app-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <app-input label="Country" placeholder="Enter your country" type="text"
                    [control]="registerForm.get('country')"></app-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <app-button label="continue" fill="solid" [disabled]="false" type="button"
                    (click)="changePage(true)"></app-button>
                </ion-col>
              </ion-row>
              }
              @else if(page==1){
              <ion-row>
                <ion-col>
                  <app-button label="Male" fill="solid" type="button" (click)="selectGender('male')"></app-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <app-button label="Female" fill="solid" type="button" (click)="selectGender('female')"></app-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-checkbox formControlName="showGenderProfile">Show my Gender Profile</ion-checkbox>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <app-button label="Continue" fill="solid" type="button" (click)="changePage(true)"></app-button>
                </ion-col>
              </ion-row>
              }
              @else if(page==2){
              <ion-row>
                <ion-col>
                  <app-input label="Birthdate" placeholder="Enter your birthdate" type="date"
                    [control]="registerForm.get('birthdate')"></app-input>
                </ion-col>
              </ion-row>
              @if(getFieldError('birthdate')) {
              <ion-row>
                <ion-col>
                  <ion-text color="danger">
                    <small>{{ getFieldError('birthdate') }}</small>
                  </ion-text>
                </ion-col>
              </ion-row>
              }
              <ion-row>
                <ion-col>
                  <app-button label="Continue" fill="solid" type="button" [disabled]="!isPageValid()"
                    (click)="changePage(true)"></app-button>
                </ion-col>
              </ion-row>
              }

              @else if(page==3){
                <ion-row>
                  <ion-col>
                    <app-button label = "Sports" [fill]="isPassionSelected('sports') ? 'solid' : 'outline'" [color]="isPassionSelected('sports') ? 'primary' : 'medium'" type="button" (click)="selectInterest('sports')"></app-button>
                  </ion-col>
                  <ion-col>
                    <app-button label = "Music" [fill]="isPassionSelected('music') ? 'solid' : 'outline'" [color]="isPassionSelected('music') ? 'primary' : 'medium'" type="button" (click)="selectInterest('music')"></app-button>
                  </ion-col>
                  <ion-col>
                    <app-button label = "Travel" [fill]="isPassionSelected('travel') ? 'solid' : 'outline'" [color]="isPassionSelected('travel') ? 'primary' : 'medium'" type="button" (click)="selectInterest('travel')"></app-button>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <app-button label = "Movies" [fill]="isPassionSelected('movies') ? 'solid' : 'outline'" [color]="isPassionSelected('movies') ? 'primary' : 'medium'" type="button" (click)="selectInterest('movies')"></app-button>
                  </ion-col>
                  <ion-col>
                    <app-button label = "Books" [fill]="isPassionSelected('books') ? 'solid' : 'outline'" [color]="isPassionSelected('books') ? 'primary' : 'medium'" type="button" (click)="selectInterest('books')"></app-button>
                  </ion-col>
                  <ion-col>
                    <app-button label = "Art" [fill]="isPassionSelected('art') ? 'solid' : 'outline'" [color]="isPassionSelected('art') ? 'primary' : 'medium'" type="button" (click)="selectInterest('art')"></app-button>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <app-button label = "Cooking" [fill]="isPassionSelected('cooking') ? 'solid' : 'outline'" [color]="isPassionSelected('cooking') ? 'primary' : 'medium'" type="button" (click)="selectInterest('cooking')"></app-button>
                  </ion-col>
                  <ion-col>
                    <app-button label = "Video Games" [fill]="isPassionSelected('video_games') ? 'solid' : 'outline'" [color]="isPassionSelected('video_games') ? 'primary' : 'medium'" type="button" (click)="selectInterest('video_games')"></app-button>
                  </ion-col>
                  <ion-col>
                    <app-button label = "Gym" [fill]="isPassionSelected('gym') ? 'solid' : 'outline'" [color]="isPassionSelected('gym') ? 'primary' : 'medium'" type="button" (click)="selectInterest('gym')"></app-button>
                  </ion-col>
                </ion-row>
                <ion-row>
                <ion-col>
                  <app-button label="Return" fill="solid" type="button" (click)="changePage(false)"></app-button>
                </ion-col>
                <ion-col>
                  <app-button label="Continue" fill="solid" type="button" (click)="changePage(true)"></app-button>
                </ion-col>
              </ion-row>
              }
              @else if(page==4){
                <app-button label="Select Images" fill="solid" type="button" (click)="selectImages()"></app-button>
              }
            </ion-grid>
          </app-card>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>